* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#intro, #projects, #contact {
    width: 100vw;
    height: 100vh;
    border: 1px solid blue;
}
#intro {
    top: 40px;
}
#nav a {
    color: #57DDFF;
    text-decoration: none;
}
#nav a:hover {
    color: #57DDFF;
    border-bottom: 2px solid crimson;
}
#nav a:active {
    border-bottom: 2px solid crimson;
}
#nav {
    z-index:10;
    background:inherit;
    overflow: hidden;
    margin: 0;
}
ul li {
    list-style-type: none;
    align-items: center;
}
body {
    background: url('../images/keyboards-dark.jpg') no-repeat center fixed;
}
#intro_name {
    color: white;
    /*color:red;*/
    font-size: 90px;
    font-weight: bolder;
}
#front_title {
    color: #57DDFF;
    font-size: 45px;
    margin: 0;
    padding: 0;
}
#intro_text {
    color: yellow;
    font-size: 22px;
    margin: 0;
}
#left {
    backdrop-filter: blur(45px);
    top: 40px;
}
/*img {*/
/*    width: 60%;*/

/*}*/

@media only screen and (min-width: 200px) and (max-width: 768px) {
    #intro_name {
        font-size: 65px;
    }
    #front_title {
        font-size: 30px;
    }
    #intro_text {
        font-size: 17px;
    }
}