* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#about {
    text-align: center;
    background-color: rgb(74,21,75);
    overflow: hidden;
    z-index: 300;
}
#about h1 {
    color: white;
    margin: 0;
}
#left {
    background-color: rgb(74,21,75);
    height: 94vh;
    /*display: none;*/
}
#left h3 {
    color: white;
}
#h3_div {
    text-align: center;
    border: 1px solid lightslategray;
}
.room {
    color: white;
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}
.room:active {
    background-color: lightslategray;
    border: none;
}
.room:hover {
    color:white;
    text-decoration: none;
}
#chat-room {
    height: 83vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}
.msg_hover:hover {
    background-color: #f8f8f8;
}
.msg_hover {
    margin: 0 20px;
}
.username {
    font-size: 15px;
    font-weight: bolder;
    color: black;
}
.time {
    font-size: 12px;
    color: black;
}
.input_field {
    height: 40px;

}
#form {
    position: relative;
    bottom: 10px;
}
.speech-bubble {
    position: relative;
    color: white;
    text-align: center;
    background: #4a154b;
    visibility: hidden;
    border-radius: .4em;
    z-index: 300;
    bottom: 20px;
    left: 10%;
    height: 30px;
    width: 200px;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 0;
    height: 0;
    border: 66px solid transparent;
    border-top-color: #4a154b;
    border-bottom: 0;
    border-left: 0;
    margin-left: -33px;
    margin-bottom: -66px;
}
.active {
    background-color: #1164a3;
}
.active:active {
    margin: 0;
    padding: 0;
    border: none;
}
.user_msg {
    text-align: right;
    /*background-color: black;*/
}

@media only screen and (min-width: 200px) and (max-width: 768px) {
    #left {
        height: 100%;
    }
}